<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead List</title>
</head>
<body>
    <a href="{% url 'leads:lead-create' %}">Create a new lead</a>
    <hr/>
    <h1>Lead List</h1>
    <ul>
        {% for lead in leads %}
            <a href="{% url 'leads:lead-detail' lead.pk %}"><li>{{ lead.id }}: {{ lead.first_name }}</li></a>
        {% empty %}
            <li>No leads available.</li>
        {% endfor %}
    </ul>
</body>
</html>

